<div class="row">
    <div class="col">
        <h4>Terms of Service</h4>
    </div>
    <div class="col">
        <p style="font-weight: bold">Table of Contents</p>
        <ol>
            <li>OVERVIEW</li>
            <li>ONLINE BOOKING TERMS</li>
            <li>SECURITY</li>
            <li>AGE OF CONSENT</li>
        </ol>
        <ol>
            <li>
                <span style="font-weight: bold">OVERVIEW</span>

                <p style="text-align: justify; text-justify: inter-word">This website is operated by Salontrap Throughout the site, the terms "we", "us" and "our" refer to salontrap.com offers this website, including all information, tools and services available from this site to you, the user, conditioned
                    upon your acceptance of all terms, conditions, policies and notices stated here.</p>

                <p style="text-align: justify; text-justify: inter-word">By visiting our site and/ or booking your salon/spa/parlour appointment from us, you engage in our "Service" and agree to be bound by the following terms and conditions ("Terms of Service", "Terms"), including those additional terms and
                    conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors
                    of content.</p>

                <p style="text-align: justify; text-justify: inter-word">Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service.</p>

                <p style="text-align: justify; text-justify: inter-word">Registration and membership in YourMarch are void where prohibited. YourMarch is intended solely for users who are fourteen (14) years old (or older), and any registration by, use of, or access to YourMarch by, anyone under fourteen is
                    unauthorised, unlicensed, and in violation of these Terms. By using YourMarch, or YourMarch, you represent and warrant that you are fourteen or older and that you agree to abide by all of the terms and conditions of these Terms. In
                    compliance with the Children's Online Privacy Protection Act, any information we receive from users we believe to be under the age of fourteen will be purged from our database(s).</p>

                <p style="text-align: justify; text-justify: inter-word">If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>

                <p style="text-align: justify; text-justify: inter-word">Any new features which are added to the application shall also be subject to the Terms of Service.</p>

                <p style="text-align: justify; text-justify: inter-word">You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website.</p>

                <p style="text-align: justify; text-justify: inter-word">It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
            </li>
            <li>
                <span style="font-weight: bold">ONLINE BOOKING TERMS</span>

                <p style="text-align: justify; text-justify: inter-word">By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your
                    consent to allow any of your minor dependents to use this site.</p>

                <p style="text-align: justify; text-justify: inter-word">You may not use our website for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws). When you click on links on our application,
                    they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p>
            </li>
            <li>
                <span style="font-weight: bold">SECURITY</span>

                <p style="text-align: justify; text-justify: inter-word">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
            </li>
            <li>
                <span style="font-weight: bold">AGE OF CONSENT</span>

                <p style="text-align: justify; text-justify: inter-word">By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow
                    any of your minor dependents to use this site.</p>
            </li>
        </ol>
    </div>
</div>
