<!-- FIRST ROW -->
<div style="margin-top:5px" class="carousel carousel-slider center" data-indicators="true">
  <div ng-repeat="image in headerImage" class="carousel-item" href="#one!">
    <img height="200px" src="{{image}}">
  </div>
</div>

<div class="col s12 m12 l12">
  <div class="sale-tagline center-align">
    <h3 style="font-size: 1.855rem;margin: 1.46rem 0 1.168rem" class="orange-text line-1">Book your next salon or spa appointment</h3>
  </div>
</div>
<div class="card">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="active tab"><a href="#salon-service">Salon</a></li>
        <li class="tab"><a class="" href="#home-service">Home</a></li>
      </ul>
    </div>
    <!-- //First Tab Content -->
    <div style="margin-top:10px;" id="salon-service" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <select class="browser-default" ng-model="home.selected.salonService">
            <option value="" disabled selected>Services</option>
            <option ng-repeat="service in home.services" value="{{service._id}}">{{service.name}}</option>
          </select>
        </div>
        <div class="input-field col s12">
          <select class="browser-default" ng-model="home.selected.salonLocation">
            <option value="" disabled selected>Location</option>
            <option ng-repeat="location in home.locations" value="{{location._id}}">{{location.name}}</option>
          </select>
        </div>

        <div class="center submit-container move-submit-down">
          <input style="margin-top:20px;width:94%" ng-click="home.salonSubmit()" type="submit" name="commit" value="Submit" class="btn btn-save">
        </div>
      </div>
    </div>
    <!-- //Second Tab Content -->
    <div style="margin-top:10px;" id="home-service" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <select class="browser-default" ng-model="home.selected.homeService">
            <option value="" disabled selected>Service</option>
            <option ng-repeat="service in home.services" value="{{service._id}}">{{service.name}}</option>
          </select>
        </div>
        <div class="center submit-container move-submit-down">
          <input style="margin-top:20px;width:94%" ng-click="home.homeSubmit()" type="submit" name="commit" value="Submit" class="btn btn-save">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <ul class="collection">
    <li class="collection-header center">
      <h5>How saloonTrap Works</h5>
    </li>
    <div ng-repeat="object in howItsWork">
      <div class="collection-item row" ng-class="{teal : $index == row}" ng-click="colorRow($index)" style="cursor:pointer">
        <div class="col s12 center">
          <i class="material-icons small">{{object.image}}</i>
          <li class="center"><span>{{object.content}}</span></li>
        </div>
      </div>
    </div>
  </ul>
</div>
