<!-- FIRST ROW -->
<div class="slider_div">
  <div class="slider" style="width:100%;margin: 0 auto;">
    <ul class="slides">
      <li ng-repeat="sliderObject in sliderContent">
        <img src={{sliderObject.image}}>
        <div class="caption center-align">
          <h3>{{sliderObject.heading3}}</h3>
          <h5 class="light grey-text text-lighten-3">{{sliderObject.hearding5}}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <!-- SECOND -->
  <div class="row">
    <div class="col s12">
      <div class="card-panel z-depth-0">
        <div class="row">
          <div class="col s8">
            <ul class="tabs">
              <li class="active tab col s2"><a href="#salon-service">Salon</a></li>
              <li class="tab col s2"><a class="" href="#home-service">Home</a></li>
            </ul>
          </div>
          <div>
            <div style="margin-top:10px;" id="salon-service" class="col s12">
              <div class="row">
                <div class="input-field col s4">
                  <select class="browser-default" ng-model="home.selected.salonService">
                      <option value="" disabled selected>Services</option>
                      <option ng-repeat="service in home.services" value="{{service._id}}">{{service.name}}</option>
                    </select>
                </div>
                <div class="input-field col s4">
                  <select class="browser-default" ng-model="home.selected.salonLocation">
                      <option value="" disabled selected>Location</option>
                      <option ng-repeat="location in home.locations" value="{{location._id}}">{{location.name}}</option>
                    </select>
                </div>
                <div style="margin-top:18px;" class="input-field col s2">
                  <a style="height:40px" ng-click="home.salonSubmit()" id="download-button" class="btn waves-effect waves-light">Submit</a>
                </div>
              </div>
            </div>
            <div style="margin-top:10px;" id="home-service" class="col s12">
              <div class="row">
                <div class="input-field col s4">
                  <select class="browser-default" ng-model="home.selected.homeService">
                      <option value="" disabled selected>Service</option>
                      <option ng-repeat="service in home.services" value="{{service._id}}">{{service.name}}</option>
                    </select>
                </div>
                <div style="margin-top:18px;" class="input-field col s2">
                  <a style="height:40px" ng-click="home.homeSubmit()" id="download-button" class="btn waves-effect waves-light">Submit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //Second End -->

  <!-- //Third -->
  <div class="card">
    <ul class="collection">
      <li class="collection-header center">
        <h5>How saloonTrap Works</h5>
      </li>
      <div ng-repeat="object in howItsWork">
        <div class="collection-item row" ng-class="{teal : $index == row}" ng-click="colorRow($index)" style="cursor:pointer">
          <div class="col s12 center">
            <i class="material-icons small">{{object.image}}</i>
            <li class="center"><span>{{object.content}}</span></li>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <!-- //Third Ends-->
</div>
