<div class="row">
    <div class="col">
        <h4>Our Commitment</h4>
    </div>
    <div class="col">
        <p style="text-align: justify; text-justify: inter-word">As you know now a days women's feels uncomfortable in going outside for Salon's and beauty service so for that we have a team who will make your home a salon and will treat you with your service at your home. As this is a fastly growing salon
            chain you can give us a chance for you better service experience. Get the best experience of salon with us only on salontrap.com</p>
    </div>
</div>
