<div ng-repeat="shop in salonsList.allShops">
  <div class="row card">
    <div class="col s12">
      <a><img style="height:150px" src="{{shop.images[0]}}"></a>
    </div>
    <h5 class="col s12"><b>{{shop.name}}</b></h5>
    <span class="col s12">{{shop.type}}</span>
    <span class="col s12">{{locationIdToLocation(shop.location._id).name}}</span>
    <div class="col s12">
      <p class="divider"></p>
    </div>
    <span class="col s5"><b>OPENING HOURS</b></span>
    <span class="col s4"><b>PAYMENT MODE</b></span>
    <span class="col s3"><b>PRICE</b></span>
    <span class="col s5">{{shop.openingHours}}</span>
    <span class="col s2" ng-repeat="paymentMode in shop.paymentModes">{{paymentMode}}</span>

    <span class="col right" style="margin-right:45px">
      <i ng-if="shop.price>0" class="fa fa-rupee black-text"></i>
      <i ng-if="shop.price>1" class="fa fa-rupee black-text"></i>
      <i ng-if="shop.price>2" class="fa fa-rupee black-text"></i>
      <i ng-if="shop.price>3" class="fa fa-rupee black-text"></i>
    </span>
    <div style="margin-top:15px" class="col s12">
      <a ui-sref="salonDetails({salonId: shop._id, serviceId:shop.serviceId})" class="btn-large right">book Services</a>
    </div>
    <div style="height:15px" class="col s12"></div>
  </div>
