<navigation></navigation>
<div ui-view=""></div>
<!--Footer-->
<footer class="page-footer grey lighten-2" style="margin-top:50px">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text darken-4">Company Bio</h5>
        <p class=" grey-text darken-4">SalonTrap is India’s largest network of salons & spas. Now compare rates, read reviews, earn cashbacks and get exclusive discounts on beauty services at 6000+ salons and spa’s in one place.<br><br> You can also shop for complete looks from the
          'Book the Look' section and say goodbye to unpleasant makeover surprises. As a SalonTrap user, you gain access to exclusive offers and deals at carefully curated beauty destinations in India.<br><br> Available on web, android and iOS platforms,
          get the best of beauty experiences only on Zooty.</p>
      </div>
      <div class="col l3 s12">
        <h5 class=" grey-text darken-4">Settings</h5>
        <ul>
          <li><a class="grey-text darken-4" href="">About</a></li>
          <li><a class="grey-text darken-4" href="">How It Works</a></li>
          <li><a class="grey-text darken-4" href="">Privacy</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text darken-4">Connect</h5>
        <ul>
          <li><a class="grey-text darken-4" href=""><i class="fa fa-facebook-square fa-2x"></i></a>&emsp;<a class="grey-text darken-4" href=""><i class="fa fa-linkedin-square fa-2x"></a>&emsp;<a class="grey-text darken-4" href=""><i class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text darken-4">
      © 2014-2017 SalonTrap, All rights reserved.
    </div>
  </div>
</footer>
