<div ng-repeat="object in salonDetails.salonAllDetails">
  <!-- <div class="carousel carousel-slider">
    <a ng-init="$last && atNgRepeatFinishForCarosel()" ng-repeat="image in object.shop.images track by $index"class="carousel-item" href="#one!"><img height="300px" src="{{image}}"></a>
  </div> -->

  <div class="carousel carousel-slider center" data-indicators="true">
    <div ng-init="$last && atNgRepeatFinishForCarosel()" ng-repeat="image in object.shop.images track by $index" class="carousel-item" href="#one!">
      <img height="300px" src="{{image}}">
    </div>
  </div>

  <div class="row">
    <h5 class="black-text col s12">{{object.shop.name}}</h5>
    <span class="grey-text col s12">{{object.shop.type}}</span>
    <span class="grey-text col s12">{{locationIdToLocation(object.shop.location._id).name}}</span>
    <div class="col s12">
      <p class="divider"></p>
    </div>

    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>OPENNING HOUR</th>
            <th>PAYMENT MODE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{object.shop.openingHours}}</td>
            <td><span ng-repeat="payment in object.shop.paymentModes">{{payment}} </span></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>PRICE</th>
            <th>AMENITIES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
              <i ng-if="object.shop.price>0" class="fa fa-rupee black-text"></i>
              <i ng-if="object.shop.price>1" class="fa fa-rupee black-text"></i>
              <i ng-if="object.shop.price>2" class="fa fa-rupee black-text"></i>
              <i ng-if="object.shop.price>3" class="fa fa-rupee black-text"></i>
            </span>
            </td>
            <td><span ng-repeat="amenity in object.shop.amenities">{{amenity}}  </span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col s12">
      <h5 class="center"><b>BOOK SERVICES</b></h5>
      <ul ng-init="$last && atNgRepeatFinish()" ng-repeat="service in object.shop.services track by $index" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">menu</i>{{serviceIdToService(service._id).name}}</div>
          <div class="collapsible-body">
            <!-- subservice in filterServices(service._id, object.services.services) track by $index -->
            <form>
              <p id="collection-item-id" class="collection-item" ng-repeat="subservice in object.services.services | filter:{'serviceId':service._id} track by $index" style="overflow: visible;">
                <input ng-model="salonAllDetails.test" ng-change="onCheckboxClicked()" name='subservice' value="{{subservice}}" type="checkbox" class="filled-in" id="{{subservice}}" />
                <label class="black-text" for="{{subservice}}">{{subservice.subServiceName}} - {{subservice.price}}RS</label>
                <br>
                <span class="grey-text">{{subservice.discount}}% OFF</span>
              </p>
            </form>
          </div>
        </li>
      </ul>
    </div>

    <div id="bottom-button">
      <a class="col s6 btn-large orange">Total Items- {{selectedItems.length}}</a>
      <a ng-click="salonDetails.checkout()" class="col s6 btn-large">CheckOut</a>
    </div>
  </div>
</div>
