<div class="row">
    <div class="col">
        <h4>Privacy Policy</h4>
    </div>
    <div class="col">
        <p style="font-weight: bold">Table of Contents</p>
        <ol>
            <li>WHAT DO WE DO WITH YOUR INFORMATION?</li>
            <li>THIRD-PARTY SERVICES</li>
            <li>CHANGES TO THIS PRIVACY POLICY</li>
        </ol>

        <ol>
            <li>
                <span style="font-weight: bold">WHAT DO WE DO WITH YOUR INFORMATION?</span>
                <p style="text-align: justify; text-justify: inter-word">When you book an appointment for a salon/spa/parlour in our application, as part of the booking process, we collect the personal information you give us such as your name, address and email address.</p>

                <p style="text-align: justify; text-justify: inter-word">When you browse our application, we also automatically receive your computer's internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>

                <p style="text-align: justify; text-justify: inter-word">Email marketing (if applicable): With your permission, we may send you emails about our application, new offers and other updates etc</p>
            </li>

            <li>
                <span style="font-weight: bold">THIRD-PARTY SERVICES</span>
                <p style="text-align: justify; text-justify: inter-word">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, certain third-party service providers, such
                    as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. For these providers, we recommend
                    that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers. In particular, remember that certain providers may be located in or have facilities that are
                    located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s)
                    in which that service provider or its facilities are located. Once you leave our website or are redirected to a third-party website or application, you are no longer governed</p>
            </li>

            <li>
                <span style="font-weight: bold">CHANGES TO THIS PRIVACY POLICY</span>
                <p style="text-align: justify; text-justify: inter-word">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will
                    notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our application is acquired or merged with another company,
                    your information may be transferred to the new owners so that we may continue to serve you.</p>
            </li>
        </ol>
    </div>
</div>
