<div class="container">
    <div class="row" ng-init="pushpinReady()">
        <div class="col s12 m9 l10">
            <div id="about" class="section scrollspy">
                <about></about>
            </div>
            <div id="communityGuidelines" class="section scrollspy">
                <community-guidelines></community-guidelines>
            </div>
            <div id="termsOfService" class="section scrollspy">
                <terms-of-service></terms-of-service>
            </div>
            <div id="privacyPolicy" class="section scrollspy" style="margin-bottom: 10%">
                <privacy-policy></privacy-policy>
            </div>
        </div>
        <!-- Table of Contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="position: fixed;top: 40vh">
                    <ul class="section table-of-contents">
                        <li><a href="#about">About</a></li>
                        <li><a href="#communityGuidelines">Our Commitment</a></li>
                        <li><a href="#termsOfService">Terms of Service</a></li>
                        <li><a href="#privacyPolicy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
