<div class="navbar-fixed">
  <nav ng-if="!checkout.canBook">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="center">
        <li class="center" style="margin-left:300px"><a>Please Login OR Select The services</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="card col s7" style="margin-left:60px;">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3 disabled"><a href="#test1">Select Services</a></li>
          <li class="tab col s3"><a class="active" href="#test2">Select Date-Time</a></li>
          <!-- <li class="tab col s3"><a href="#test3">Select Time</a></li> -->
        </ul>
      </div>
      <div id="test2" class="col s12">
        <ul class="collection with-header">
          <li class="collection-header">
            <label>Select Date</label>
            <p><input ng-model="checkout.selectedDate" type="text" id="datepicker" /></p>
            <!-- <input ng-model="checkout.selectedDate" type="text" class="datepicker"> -->
          </li>
          <li class="collection-header">
            <label>Select Time</label>
            <input ng-model="checkout.selectedTime" type="time" id="myTime">
          </li>
        </ul>
      </div>
      <!-- <div id="test3" class="col s12">
        <ul class="collection with-header">
          <li class="collection-header">
            <label>Select Time</label>
            <input ng-model="checkout.selectedTime" type="time" id="myTime">
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="card col s3 right" style="margin-right:20px;width:400px;">
    <div style="overflow-y: auto; height:400px">
      <table>
        <thead>
          <tr>
            <th>
              <h5 class="center">Selected Items</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="object in checkout.checkedOutItems track by $index">
            <td>{{object.subServiceName}}<br>{{object.discount}}% OFF</td>
            <td class="right">₹{{finalPrice(object.price, object.discount)}}<br><strike>{{object.price}}</strike>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-action grey lighten-4">
      <table class="table">
        <tbody>
          <tr>
            <td class="">Total Service Cost</td>
            <td class="right-align animated flash">₹{{totalPay}}</td>
          </tr>
          <tr>
            <td class="">SUB TOTAL</td>
            <td class="right-align animated flash">₹{{totalPay}}</td>
          </tr>
          <tr>
            <td colspan="2"><span class="divider"></span></td>
          </tr>
          <tr>
            <td>
              <p class="bold">NET PAYABLE</p>
            </td>
            <td class="right-align">
              <p class="bold no-mar no-pad animated flash">₹{{totalPay}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="checkout.canBook" class="card-action center fixed">
      <a ng-click="checkout.confirmBooking()" style="margin-right:10p" class="center btn-large orange">Confirm Booking</a>
    </div>
  </div>
</div>
